{% extends 'app/base.html' %}
{% load static %}

<!--este bloque es para los css especificos de pagina-->
{% block css %}
    <link rel="stylesheet" href="{% static 'css/producto.css' %}">
{% endblock %}

<!--este bloque es para los javascript especificos de pagina-->
{% block js %}
<script>
    function changeQuantity(delta) {
      const input = document.getElementById('quantityInput');
      let value = parseInt(input.value) || 1;
      value += delta;
      if (value < parseInt(input.min)) value = parseInt(input.min);
      if (value > parseInt(input.max)) value = parseInt(input.max);
      input.value = value;
    }
  </script>
{% endblock %}


{% block contenido %}
{% load humanize %}
    
<div class="row content-block p-4 rounded shadow-sm" style="margin-top: 2%;">
    <!--Primera columna-->

    <div class="col-md-4 p-2">
        <!-- col-md-4: ocupa la un poco menos mitad del ancho en pantallas medianas en adelante -->
        <!-- p-2 corresponde al tipo de padding pod defecto que tendra el div-->

        <img src="{% static 'img/placeholder.png' %}" alt="Imagen" style="width: 400px;padding-right: 2%;">
    </div>

    <!--Segunda Columna-->
    <div class="col-md-8 p-2" style="margin-left: 2xp;">
        <!-- col-md-8: ocupa la un poco mas mitad del ancho en pantallas medianas en adelante -->
         <h2>Producto; {{ producto.nombre | title }}</h2>
         <h3>${{ producto.precio | intcomma}}</h3>
         <div class="shadow p-3 mb-5 rounded">
         <!--shadow mb-5 corresponde al tipo de sombra-->
         <!--rounded es a el tipo de esquinas-->
            <h4>Marca: {{ producto.marca | title }}</h4>
           <p>
            {{ producto.descripcion | capfirst}}{{ producto.id }}
         </p> 
         </div>

         <div class="input-group mb-3" style="max-width: 160px;">
                <!-- Botón - -->
                <button class="btn btn-outline-secondary" type="button" onclick="changeQuantity(-1)">−</button>
              
                <!-- Campo numérico -->
                <input type="number" class="form-control text-center" id="quantityInput" value="1" min="1" max="99">
              
                <!-- Botón + -->
                <button class="btn btn-outline-secondary" type="button" onclick="changeQuantity(1)">+</button>
        </div>

        {% if user.is_authenticated %}
        <form action="{% url 'agregarCarro' producto.id %}" method="post">
          {% csrf_token %}
            <button type="submit" class="btn btn-primary">Agregar al carrito</button>
        </form>
      {% endif %}

         
         
    </div>
</div>    

{% endblock %}