* {box-sizing:border-box}

#Prods {
  display: flex;
  justify-content: center;
}

.parent {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}


.parent .child.card {
  margin: 1%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
  display: flex;

}


.parent .child.card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}



