.parent {
    width: 1200px;
    background-color: #333;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*cuando los elementos bordan el contenedor, se alinean hacia abajo*/
    margin: 20px 0; /* outer margin doesn't matter */
  }
  
  .parent .child {
    display: inline-block;
    background-color: #ccc;
  
  }
  .child{
    width: 300px;
    height: 200px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
  }
  
  #Prods{
    display: flex;
    justify-content: center;
  }